<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <form method="POST" enctype="multipart/form-data" action="/post">
      <div>
        <label for="file">Preview picture</label>
        <input type="file" name="preview_picture">
      </div>
      <div>
        <label for="file">Preview picture</label>
        <input type="file" name="preview_picture">
      </div>
      <div>
        <label for="file">Header picture</label>
        <input type="file" name="header_picture">
      </div>
      <div>
        <label for="text">Title</label>
        <input type="text" name="Title">
      </div>
      <div>
        <label for="text">Article</label>
        <input type="text" name="Article">
      </div>
      <div>
        <label for="file">Footer picture</label>
        <input type="file" name="Footer_picture">
      </div>
      <div>
        <label for="file">Footer_image_tagnote</label>
        <input type="file" name="Footer_image_tagnote">
      </div>
      <div>
        <label for="file">Footer_image_tagnote</label>
        <input type="file" name="Meta_data">
      </div>
      <input type="submit" class="button">
    </form>
  </body>
</html>
